/*some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

body{
  text-align: center;
}


#jeopardy td {

  border: solid 2px white;
  background-color: #060ce9;
  color: white;
  text-align: center;
  height: 80px;
  padding: 20px 0;

}

#column-top td {
  border: solid 1px white;
  width: 175px;
  height: 80px;
}

#column-top td:hover {
  color: #060ce9;
  background-color:white;
}

#jeopardy .showing{
  background-color: white;
  color: #060ce9;
}

#jeopardy .answered{
  background-color: #28a200;
  color: white;
}